<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>js-beautify-v8</string>
	<key>uuid</key>
	<string>0345291B-018A-4777-A66A-1CF694E71173</string>
</dict>
</plist>
